node_modules/
build/
dist/
build-verify-*/

.codex/
graphify-out/

.tmp-license*/
tmp-lic-test*/
tmp-lic-ui-test/
tmp-license-keys/

*.log
*.tmp
builder-exit.txt
builder-run-utf8.txt
builder-run.log
dist-info.txt
package-output.txt
package-stderr.txt
package-stdout.txt
